* {
  margin: 0;
  padding: 0;
}

/* Colors */
:root {
  --red: #b53434;
  --green: #26877f;
  --white: #fff;
  --black: #000;
  --light-grey: #ccc;
  --dark-grey: #262626;
}

/***** FONTS *****/

@font-face {
  font-family: 'LeagueSpartan-Regular';
  src: url('../fonts/League_Spartan/LeagueSpartan-Regular.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'LeagueSpartan-Bold';
  src: url('../fonts/League_Spartan/LeagueSpartan-Bold.ttf');
  format: ('true-type');
}

@font-face {
  font-family: 'LeagueSpartan-Thin';
  src: url('../fonts/League_Spartan/LeagueSpartan-Thin.ttf');
  format: ('true-type');
}

/* Base Styles */
h1 {
  font-family: 'LeagueSpartan-Bold';
  color: var(--white);
  font-size: 3rem;
  line-height: 2rem;
}

h2 {
  font-family: 'LeagueSpartan-Thin';
  font-size: 2.5rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
}

h3 {
  font-family: 'LeagueSpartan-Thin';
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  line-height: 3rem;
}

p {
  font-family: 'LeagueSpartan-Regular';
  font-size: 1.5rem;
}

/* Logo */
.main-logo {
  width: 6%;
  margin: 2rem auto;
}

.main-logo img {
  width: 100%;
}

/* Header */
.copy {
  width: 60%;
  margin: 2rem 0 0 4rem;
}

.copy h2 {
  color: var(--white);
  margin-bottom: 0.5rem;
}

.copy p {
  width: 75%;
  color: var(--white);
  line-height: 2rem;
  margin: 1rem 0 2rem 0;
}

.copy button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  border-radius: 25px;
  border: none;
  background-color: var(--red);
  color: var(--white);
  font-family: 'LeagueSpartan-Thin';
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}
/* Navigation */
.main-nav {
  display: flex;
  font-family: 'LeagueSpartan-Regular';
  color: var(--black);
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  width: 60%;
  margin: 0 auto;
  border-top: 2px solid var(--dark-grey);
  border-bottom: 2px solid var(--dark-grey);
}

.main-nav li {
  list-style: none;
}

.main-nav ul {
  display: flex;
  margin: 2rem 0;
}

.main-nav a {
  margin-left: 8rem;
  text-decoration: none;
  cursor: pointer;
}

.main-nav a:hover {
  color: var(--green);
}

.main-nav a:active {
  color: var(--red);
}

/* Main Content */
.main-content {
  width: 90%;
  height: 37rem;
  margin: 5rem auto;
}

/* Promotion */
.promotion {
  width: 87%;
  height: 20rem;
  padding-top: 4rem;
  margin: 1rem auto;
  border-radius: 1rem;
  background: linear-gradient(rgba(16, 16, 16, 0.5), rgba(16, 16, 16, 0.5)),
    url(../img/gaetano-cessati-CCy2UFLO1Mg-unsplash.jpg);
  background-size: cover;
}

.promotion h2 {
  font-family: 'LeagueSpartan-Bold';
  color: var(--white);
  width: 45%;
  margin: 0 auto;
}

.promotion p {
  color: var(--white);
  width: 60%;
  margin: 1rem auto;
  line-height: 2.5rem;
  text-align: center;
}

span {
  background-color: var(--green);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.info-cards {
  display: flex;
  width: 90%;
  margin: 2rem auto;
  margin-bottom: 0;
}

.card-1,
.card-2,
.card-3 {
  width: 30%;
  height: 15rem;
  background: red;
  margin: 0 auto;
  border-radius: 1rem;
  box-shadow: 0 2rem 6.4rem rgba(0, 0, 0, 0.25);
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
  transform: scale(1.1);
  transition: all 0.4s;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.25);
}

.card-copy {
  margin: 1.5rem 2rem;
  color: var(--light-grey);
  line-height: 2rem;
}

.card-1 {
  background: linear-gradient(rgba(16, 16, 16, 0.45), rgba(16, 16, 16, 0.7)),
    url('../img/annie-spratt-cmm7Dcz3ztU-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.card-2 {
  background: linear-gradient(rgba(16, 16, 16, 0.45), rgba(16, 16, 16, 0.7)),
    url('../img/abby-rurenko-uOYak90r4L0-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
}

.card-3 {
  background: linear-gradient(rgba(16, 16, 16, 0.45), rgba(16, 16, 16, 0.7)),
    url('../img/abhishek-jain-Dj5umFUxLps-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

/* Footer */
.footer {
  display: flex;
  width: 78%;
  height: 17rem;
  margin: 6rem auto;
  border-top: solid 2px var(--dark-grey);
}

.footer-logo img {
  width: 6%;
  margin: 2rem 0 0 1rem;
}

.copyright p {
  margin: 2rem 0;
  color: var(--dark-grey);
  white-space: nowrap;
}
